body {
    margin: 0;
    padding: 0;
    flex: 1;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  a {
    text-decoration: none;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #title {
    color: white;
    font-size: large;
    padding: 14px 16px;
  }

.car-raw {
  background-color: white;
  padding: 5%;
  padding-top: 2.5%;
  padding-bottom: 0%;
}

.car-card {
    position: relative;
    overflow: visible;
    left: 100px;
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    display: inline-flex;
    border: 1px solid whitesmoke;
    border-radius: 20%;
    margin: 1%;
    margin-bottom: 0%;
  }
  
.car-card:hover {
  background-color: rgb(206, 206, 206);
}

.car-card img {
  position: absolute;
  top: -11px;
  left: -61px;
  scale: 0.5;
  height: 326px;
  width: 420px;
}

.car-raw-carName {
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  left: 96px;
  z-index: 3;
  color: rgb(61, 61, 61);
}
.car-raw-carName a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

.car-raw-carName a:hover {
  color: black;
}

footer{
  margin-top: auto;
  padding: 10px;
  text-align: center;
  background-color: rgb(240, 225, 206);
}

