body {
    margin: 0;
    padding: 0;
    flex: 1;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #title {
    color: white;
    font-size: large;
    padding: 14px 16px;
  }

.car-raw {
  background-color: rebeccapurple;
  padding: 5%;
  padding-top: 2.5%;
  padding-bottom: 0%;
}

.car-card {
    position: relative;
    overflow: visible;
    left: 100px;
    width: 300px;
    height: 300px;
    background-color: aqua;
    display: inline-flex;
    border: 1px solid black;
    margin: 1%;
    margin-bottom: 0%;
  }

.car-card img {
    position: relative;
    top:10px;
    left: -78px;
    scale: 0.5;
}

.car-card-container {
  padding: 2px 16px;
}
  footer{
    margin-top: auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(240, 225, 206);
  }

  .about-us {
    background-color: #474e5d;
    color: white;
  }

  .about {
    padding: 10px;
  }

  #titulo-acerca {
    text-align: center;
  }

  #titulo-mision {
    text-align: center;
  }

  #titulo-vision {
    text-align: center;
  }

  #titulo-valores {
    text-align: center;
  }

  .valores-lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }

  #titulo-flota {
    text-align: center;
  }

  #titulo-competitivo {
    text-align: center;
  }

  p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .form {
    color: black;
  }